@import "tailwindcss";

@theme {
  --color-discord-blurple: #5865F2;
  --color-discord-green: #57F287;
  --color-discord-yellow: #FEE75C;
  --color-discord-fuchsia: #EB459E;
  --color-discord-red: #ED4245;
  --color-discord-white: #FFFFFF;
  --color-discord-black: #000000;
  --color-discord-dark: #23272A;
  --color-discord-notquiteblack: #2C2F33;
  --color-discord-greyple: #99AAB5;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
